body {
  font-family: 'Crete Round', serif;
  margin: 0%;

}
h1 {
  font-size: 38px;
}
section {
  
  height: 600px;
  background-image: url(images/donation8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.headline-1 {
 
}